.homePageContainer01 {
  background: url("../../assets/homePage/home2.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .homePageContainer01 {
    background: url("../../assets/homePage/homeMobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.blogPage1Cover {
  background: url("../../assets/homePage/home2.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .blogPage1Cover {
    background: url("../../assets/homePage/homeMobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.aboutPageCont01 {
  background: url("../../assets/about/aboutBg.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .aboutPageCont01 {
    background: url("../../assets/home/mobAbout.jpg") no-repeat center;
    background-size: cover;
  }
}

.menuPageCont01 {
  background: url("../../assets/about/menu.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .menuPageCont01 {
    background: url("../../assets/home/mobMenu.jpg") no-repeat center;
    background-size: cover;
  }
}

.contactPageCont01 {
  background: url("../../assets/about/contact.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .contactPageCont01 {
    background: url("../../assets/home/mobContact.jpg") no-repeat center;
    background-size: cover;
  }
}

.overallImgBrands {
  background: url("../../assets/home/brandss.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .overallImgBrands {
    background: url("../../assets/home/mobBrands.jpg") no-repeat center;
    background-size: cover;
  }
}

.cardContacts {
  background-color: #f3f4f6;
}
