.homePageContainer01 {
  background: url("../../assets/home/home13.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .homePageContainer01 {
    background: url("../../assets/home/homeMobile.jpg") no-repeat center;
    background-size: cover;
  }
}

.blogPage1Cover {
  position: relative;
  background: url("../../assets/blog/blogCoverImg.jpg") no-repeat center;
  background-size: cover;
}

.blogPage1Cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

.blogPage1Cover * {
  position: relative;
  z-index: 2; /* Ensure text stays above the overlay */
}

.aboutPageCont01 {
  background: url("../../assets/about/aboutBg.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .aboutPageCont01 {
    background: url("../../assets/home/mobAbout.jpg") no-repeat center;
    background-size: cover;
  }
}

.menuPageCont01 {
  background: url("../../assets/about/menu.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .menuPageCont01 {
    background: url("../../assets/home/mobMenu.jpg") no-repeat center;
    background-size: cover;
  }
}

.contactPageCont01 {
  background: url("../../assets/about/contact.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .contactPageCont01 {
    background: url("../../assets/home/mobContact.jpg") no-repeat center;
    background-size: cover;
  }
}

.overallImgBrands {
  background: url("../../assets/home/brandss.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .overallImgBrands {
    background: url("../../assets/home/mobBrands.jpg") no-repeat center;
    background-size: cover;
  }
}

.cardContacts {
  background-color: #f3f4f6;
}

.blogPageDrafted {
  background: url("../../assets/contact/contactImg.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .blogPageDrafted {
    background: url("../../assets/contact/contactImg.jpg") no-repeat center;
    background-size: cover;
  }
}
